<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="text-center">
      Tables
    </ion-title>
    <ion-icon
            slot='end'
            class="mx-5"
            style="font-size: 30px"
            color="primary"
            name="add-circle-outline"
            (click)="addTableInPage()">
    </ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-card *ngFor="let table of tableInfo" (click)="navigate(table.id)">
      <ion-card-header>
        <ion-card-title class="row">
          <div class="w-75 px-4">{{table.name}} </div>
          <ion-icon
                  class="w-25"
                  style="font-size: 30px"
                  color="danger"
                  name="trash-outline"
                  (click)="deleteTableById(table.id)">
          </ion-icon>
        </ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>
